NEXT_PUBLIC_BASEPATH=/SChat
PORT=3000
NEXT_SHARP_PATH=/tmp/node_modules/sharp

AUTH0_SECRET=
AUTH0_BASE_URL=
AUTH0_ISSUER_BASE_URL=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_USER=admin
DATABASE_PWD=admin
DATABASE_NAME=SChat
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PWD}@localhost:5432/${DATABASE_NAME}?schema=public"
#postgresql in docker not compatable with ec2 instance, so I use RDS in production